.RevisionSelector {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.RevisionSelector .RevisionItem {
    width: 110px;
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
}