.PictureSelector {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5px;
    padding: 0 15px 15px 15px;

}

.PictureSelector .item-selected, .PictureSelector .item-not-selected {
    width: 115px;
    height: 80px;
    position: relative;

}

/** To be used as picture for widgets using a only textual representation */
.TextItem {
    line-height: 80px;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

/** To be used as legend for widgets using a picture */
.ItemLabel {
    font-size: 12px;
    text-align: left;
    position: absolute;
    left: 5px;
    top: 5px;
}

.PictureSelector .item-selected {
    border: 1px solid #57bbea;
    background: white;
    color: #57bbea;
}

.PictureSelector .item-not-selected {
    border: 1px solid transparent;
    color: black;
}

.PictureSelector .item-selected:hover, .PictureSelector .item-not-selected:hover {
    background: #57bbea; /* TODO transition! */
    transition: background 350ms ease-in;
    border: 1px solid #57bbea;
    color: white;
}

