.ServiceSelector {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.ServiceItem {
    width: 110px;
    height: 80px;
    position: relative;
}

.ServiceItemLabel {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 10px;
    text-align: left;
}

.ServicePictureBase{
    position: absolute;
    left: 15%;
    top: 30%;
    width: 70%;
    height: 70%;
}

.ServiceSelector .ServiceAPPLIST {
    background: url('./assets/applist.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceCITYEVENTS {
    background: url('./assets/cityevents.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceCOUNTRYINFO {
    background: url('./assets/countryinfo.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceDEALEREVENTS {
    background: url('./assets/dealerevents.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceEFPI {
    background: url('assets/efpi.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceFLIGHTINFO {
    background: url('./assets/flightinfo.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceFPI {
    background: url('./assets/fpi.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceNEWS {
    background: url('./assets/news.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServicePARKINFO {
    background: url('./assets/parkinfo.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServicePOI {
    background: url('./assets/poi.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceROADRESTRICTION {
    background: url('./assets/roadrestriction.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceTRAININFO {
    background: url('./assets/traininfo.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceTRAVELINFO {
    background: url('./assets/travelinfo.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceVIOLATIONS {
    background: url('./assets/violations.png') no-repeat;
    background-size: 100%;
}
.ServiceSelector .ServiceWEATHER {
    background: url('./assets/weather.png') no-repeat;
    background-size: 100%;
}
