.ServicePictureBase {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 60%;
    height: 60%;
}

.ServiceAPPLIST {
    background: url('./assets/applist.png') no-repeat;
    background-size: 100%;
}

.ServiceCITYEVENTS {
    background: url('./assets/cityevents.png') no-repeat;
    background-size: 100%;
}

.ServiceCOUNTRYINFO {
    background: url('./assets/countryinfo.png') no-repeat;
    background-size: 100%;
}

.ServiceDEALEREVENTS {
    background: url('./assets/dealerevents.png') no-repeat;
    background-size: 100%;
}

.ServiceEFPI {
    background: url('assets/efpi.png') no-repeat;
    background-size: 100%;
}

.ServiceFLIGHTINFO {
    background: url('./assets/flightinfo.png') no-repeat;
    background-size: 100%;
}

.ServiceFPI {
    background: url('./assets/fpi.png') no-repeat;
    background-size: 100%;
}

.ServiceNEWS {
    background: url('./assets/news.png') no-repeat;
    background-size: 100%;
}

.ServicePARKINFO {
    background: url('./assets/parkinfo.png') no-repeat;
    background-size: 100%;
}

.ServicePOI {
    background: url('./assets/poi.png') no-repeat;
    background-size: 100%;
}

.ServiceROADRESTRICTION {
    background: url('./assets/roadrestriction.png') no-repeat;
    background-size: 100%;
}

.ServiceTRAININFO {
    background: url('./assets/traininfo.png') no-repeat;
    background-size: 100%;
}

.ServiceTRAVELINFO {
    background: url('./assets/travelinfo.png') no-repeat;
    background-size: 100%;
}

.ServiceVIOLATIONS {
    background: url('./assets/violations.png') no-repeat;
    background-size: 100%;
}

.ServiceWEATHER {
    background: url('./assets/weather.png') no-repeat;
    background-size: 100%;
}
