.OEMGridList {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: auto;
    background: white;
}

.OEMPictureContainer{
    padding-top: 10px;
}

.OEMPictureBase {
    min-width: 150px;
    min-height: 120px;
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.OEMPicture-vw {
    background: url('./assets/vw.png') no-repeat;
    background-size: 100%;
    background-position-y: 60%;
}

.OEMPicture-audi {
    background: url('./assets/audi.png') no-repeat;
    background-size: 100%;
    background-position-y: 50%;

}

.OEMPicture-bentley {
    background: url('./assets/bentley.png') no-repeat;
    background-size: 100%;
    background-position-y: 60%;

}

.OEMPicture-porsche {
    background: url('./assets/porsche.png') no-repeat;
    background-size: 90%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.OEMPicture-skoda {
    background: url('./assets/skoda.png') no-repeat;
    background-size: 90%;
    background-position-x: 40%;
    background-position-y: 40%;
}

