.OEMSelector {
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 5px;
    padding: 5px;
    background: #eeeeee;
}

.oem-picture-base {
    width: 110px;
    height: 80px;
    margin: 0;
}

.oem-picture-vw {
    background: url('./assets/vw.png') no-repeat;
    background-size: 100%;
    background-position-y: 60%;
}

.oem-picture-audi {
    background: url('./assets/audi.png') no-repeat;
    background-size: 100%;
    background-position-y: 50%;

}

.oem-picture-bentley {
    background: url('./assets/bentley.png') no-repeat;
    background-size: 100%;
    background-position-y: 60%;

}

.oem-picture-porsche {
    background: url('./assets/porsche.png') no-repeat;
    background-size: 90%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.oem-picture-skoda {
    background: url('./assets/skoda.png') no-repeat;
    background-size: 90%;
    background-position-x: 40%;
    background-position-y: 40%;
}

